@tailwind base;
@tailwind components;
@tailwind utilities;

#flash {
  position: fixed;
  top: 20%;
  margin-top: -20vw;
  margin-left: -20vw;
  width: 40vw;
  height: 40vw;
  background: -moz-radial-gradient(center, ellipse cover, rgb(190, 120, 144)0%, rgba(255, 255, 255, 0) 50%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgb(190, 120, 144)), color-stop(50%, rgba(255, 255, 255, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgb(190, 120, 144)0%, rgba(255, 255, 255, 0) 50%);
  background: -o-radial-gradient(center, ellipse cover, rgb(190, 120, 144)0%, rgba(255, 255, 255, 0) 50%);
  background: -ms-radial-gradient(center, ellipse cover, rgb(190, 120, 144)0%, rgba(255, 255, 255, 0) 50%);
  background: radial-gradient(ellipse at center, rgb(190, 120, 144)0%, rgba(255, 255, 255, 0) 50%);
  opacity: 0.6;
  z-index: 1;
}


#flashh {
  position: fixed;
  top: 10%;
  margin-top: -10vw;
  margin-left: -10vw;
  width: 20vw;
  height: 20vw;
  /* background: #000; */
  background: -moz-radial-gradient(center, ellipse cover, rgb(214, 254, 162)0%, rgba(255, 255, 255, 0) 50%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgb(214, 254, 162)), color-stop(50%, rgba(255, 255, 255, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgb(214, 254, 162)0%, rgba(255, 255, 255, 0) 50%);
  background: -o-radial-gradient(center, ellipse cover, rgb(214, 254, 162)0%, rgba(255, 255, 255, 0) 50%);
  background: -ms-radial-gradient(center, ellipse cover, rgb(214, 254, 162)0%, rgba(255, 255, 255, 0) 50%);
  background: radial-gradient(ellipse at center, rgb(214, 254, 162)0%, rgba(255, 255, 255, 0) 50%);
  opacity: 0.6;
  z-index: 1;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(44, 43, 43);
  margin: 0px;
  overflow: hidden;
}

#canvasHolder {
  width: 1280px;
  height: 720px;
  padding: 0px;
  float: left;
}

canvas {
  outline: none;
  border: none;
}

#loading {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #e5eff1;
  height: 720px;
  width: 1280px;
  text-align: center;
  vertical-align: baseline;
}

#loading img {
  padding-top: 250px;
}

.hidden {
  display: none;
}

#controls {
  position: relative;
  float: left;
  width: 230px;
  height: 720px !important;
  background: #e5eff1;
  padding: 10px;
}

label {
  font-size: 15px;
  font-weight: 600;
}

.btnHolder button {
  float: left;
  padding: 5px;
  width: 45%;
  margin: 5px !important;
}

#btnHolder {
  min-height: 100px;
}

#colorsHolder {
  margin-top: 15px;
  width: 150px !important;
}

hr {
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 0.5rem;
  width: 100%;
}

.loadBtn,
#saveBtn,
#addGrill {
  width: 95% !important;
}

.scale-color {
  color: rgb(93, 118, 231);
}

#zoomSlider,
#rotateX,
#rotateY {
  margin: 0px 5px;
}
