

/* .card:hover {
    filter: drop-shadow(0 0 0.75rem rgb(0, 231, 255));
}



.card:before {
   background: linear-gradient(transparent 0%,#fff 100%);transform:scale(1.2);
} */

.figure {
  /* position: relative; */
   position: fixed;
  max-width: 100%;
  /* position: absolute; */
  top: 45vh;
  left: 5vw;
  width: 5%;
  z-index: 100;
  animation: glitter 5s infinite;
  mix-blend-mode: multiply;
  filter: drop-shadow(0 0 0.75rem crimson);
}
.figure2 {
  /* position: relative; */
   position: fixed;
  max-width: 100%;
  /* position: absolute; */
  top: 70vh;
  left: 85vw;
  width: 15%;
  z-index: 100;
  /* animation: glitter 5s infinite; */
  filter: drop-shadow(0 0 0.75rem crimson);
}
.figure3 {
  /* position: relative; */
   position: fixed;
  max-width: 100%;
  /* position: absolute; */
  top: 30vh;
  left: 25vw;
  width: 10%;
  z-index: -10;
  /* animation: glitter 5s infinite; */
  /* mix-blend-mode:overlay; */
  filter: drop-shadow(0 0 0.75rem crimson);
}
.figure4 {
  /* position: relative; */
  position: fixed;
  max-width: 100%;
  /* position: absolute; */
  top: 0vh;
  left: 65vw;
  width: 25%;
  z-index: -10;
  /* animation: glitter 5s infinite; */
  /* mix-blend-mode:overlay; */
  filter: drop-shadow(0 0 0.75rem crimson);
}
.figure5 {
  /* position: relative; */
   position: fixed;
  max-width: 100%;
  /* position: absolute; */
  top: 60vh;
  left: 45vw;
  width: 10%;
  z-index: -10;
  /* animation: glitter 5s infinite; */
  /* mix-blend-mode:overlay; */
  filter: drop-shadow(0 0 0.75rem crimson);
}

.figure6 {
  /* position: relative; */
   position: fixed;
  max-width: 100%;
  /* position: absolute; */
  top: 5vh;
  left: 45vw;
  width: 10%;
  z-index: -10;
  /* animation: glitter 5s infinite; */
  /* mix-blend-mode:overlay; */
  filter: drop-shadow(0 0 0.75rem crimson);
}

.figure7 {
  /* position: relative; */
   position: fixed;
  max-width: 100%;
  /* position: absolute; */
  top: 65vh;
  left: 15vw;
  width: 20%;
  z-index: -10;
  /* animation: glitter 5s infinite; */
  /* mix-blend-mode:overlay; */
  filter: drop-shadow(0 0 0.75rem crimson);
}

.figure8 {
  /* position: relative; */
   position: fixed;
  max-width: 100%;
  /* position: absolute; */
  top: 65vh;
  left: 75vw;
  width: 20%;
  z-index: -10;
  /* animation: glitter 5s infinite; */
  /* mix-blend-mode:overlay; */
  filter: drop-shadow(0 0 0.75rem crimson);
}

.figure9 {
  /* position: relative; */
   position: fixed;
  max-width: 100%;
  /* position: absolute; */
  top: 30vh;
  left: 80vw;
  width: 20%;
  z-index: -10;
  /* animation: glitter 5s infinite; */
  /* mix-blend-mode:overlay; */
  filter: drop-shadow(0 0 0.75rem crimson);
}

.figure10 {
  /* position: relative; */
   position: fixed;
  max-width: 100%;
  /* position: absolute; */
  top: 10vh;
  left: 5vw;
  width: 20%;
  z-index: -10;
  /* animation: glitter 5s infinite; */
  /* mix-blend-mode:overlay; */
  filter: drop-shadow(0 0 0.75rem crimson);
}

.figure11 {
  /* position: relative; */
   position: fixed;
  max-width: 100%;
  /* position: absolute; */
  top: 40vh;
  left: 55vw;
  width: 20%;
  z-index: -10;
  /* animation: glitter 5s infinite; */
  /* mix-blend-mode:overlay; */
  filter: drop-shadow(0 0 0.75rem crimson);
}

.figure12 {
  /* position: relative; */
   position: fixed;
  max-width: 100%;
  /* position: absolute; */
  top: 75vh;
  left: 2vw;
  width: 10%;
  z-index: -10;
  /* animation: glitter 5s infinite; */
  /* mix-blend-mode:overlay; */
  filter: drop-shadow(0 0 0.75rem crimson);
}

.test{
  background-image: url("../public/images/background1.jpg");
  /* background: linear-gradient(169.78deg, rgba(255, 255, 255, 0.23) 4.65%, rgba(255, 255, 255, 0) 91.48%), radial-gradient(62.3% 67.27% at 20.42% 27.48%, #d4d4d4 0%, #9fadb8c1 100%), linear-gradient(112.91deg, #676561 3.51%, #242321 111.71%); */
  height: 200vh;
  position: absolute;
  top: 0;
  /* mix-blend-mode:multiply; */
  pointer-events: none;
  width: 100vw;
}

.back{
  background-image: linear-gradient( rgba(242,242,242,0.8), rgba(242,242,242,1) ,rgba(255,255,255,0));
  position: fixed;
  top: 0;
  width: 25%;
  z-index: 100;
}

.crytext{
  /* -webkit-text-stroke: 1px rgb(26, 26, 26); */
  color: #ffffff;
  text-align: center;
  font-size: 6rem;
  text-shadow:
  3px  3px 0 #000,
 -1px -1px 0 #000,  
  1px -1px 0 #000,
 -1px  1px 0 #000,
  1px  1px 0 #000;
font-style: italic;
padding: 0;
}

.crytext2{
  /* -webkit-text-stroke: 1px rgb(26, 26, 26); */
  color: #ffffff;
  text-align: center;
  font-size: 4rem;
  text-shadow:
  3px  3px 0 #000,
 -1px -1px 0 #000,  
  1px -1px 0 #000,
 -1px  1px 0 #000,
  1px  1px 0 #000;
/* font-style: italic; */
padding: 0;
}

.card:hover{
  /* opacity: 1; */
  background-image: url("https://assets.codepen.io/13471/sparkles.gif");
  /* url(https://assets.codepen.io/13471/holo.png);  */
    /* linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%); */
  background-position: 50% 50%;
  /* background-size: 160%; */
  /* background-image: url("https://assets.codepen.io/13471/holo.png") ; */
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  /* transition: all .33s ease; */
  mix-blend-mode:color-dodge;
  /* opacity: .75; */
  animation:  holoSparkle 5s infinite;
  animation:  holoGradient 5s infinite;
  animation:  holoCard 5s infinite;
  transform: skewY(50px);
  border-radius: 5%;
  position:relative;
  /* flex: 10; */ 
}


.card {
  transform: translate(-17.5px, 0);
  filter: drop-shadow(0 30px 2px rgba(0, 0, 0, 0.05));
  border-radius: 5%;
  position:relative;
  /* background-color: rgba(255, 255, 255, 0.548); */
}


.card-md {
  transform: translate(-20%, 0);
  margin-top: 0;
  /*top:50px;*/
  filter: drop-shadow(0 30px 2px rgba(0, 0, 0, 0.05));
  border-radius: 5%;
  position:relative;
}

/* .a:hover{
cursor:  url("https://studio-push.com/public/img/cursor-red.svg") 30 11, auto;
} */


.rows {
  display: flex;
  flex-wrap: nowrap;
  padding: 2vw;
  width: 50%;
  flex-direction: row;
  justify-content: space-between;
}
.rows>* {
  flex: 1 1 160px;
  padding-bottom: 2vw;
}

.rowsall{
  display: flex;
  width: 98vw;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.cardone{
  /* background-image:url('https://i.ibb.co/Z6FVzYw/aisha.jpg'); */
  /* position:relative; */
   position: fixed;
  z-index: 100;
  top: 0;
  width:  auto;
   border-radius: 5%;
   /* position:relative; */
  /* height: 100%; */
  overflow: hidden;
  opacity: 100%;
  color: #000000;
  border-radius: 5%;
  position:relative;
}


.cardone:hover{
  background-image:none;
  color: #000000;
  border-radius: 5%;
}

.card2{
  background-image:url('https://i.ibb.co/dkdhD8Q/babetheory.jpg');
  /* position:relative; */
   position: fixed;
  z-index: 100;
  top: 0;
  width:  auto;
   border-radius: 5%;
   position:relative;
  height: 100%;
  overflow: hidden;
  opacity: 100%;
  color: #00000000;
  padding-bottom: 10vh;
  border-radius: 5%;
  position:relative;
}


.card2:hover{
  background-image:none;
  /* position:relative; */
   position: fixed;
  z-index: 100;
  top: 0;
  width:  auto;
   border-radius: 5%;
   position:relative;
  height: 100%;
  overflow: hidden;
  /* opacity: 0; */
  color: #000000;
  border-radius: 5%;
  position:relative;
}

.card3{
  background-image:url('https://i.ibb.co/55Djvb5/soha.jpg');
  position:relative;
   /* position: fixed; */
  z-index: 100;
  top: 0;
  width:  auto;
   border-radius: 5%;
   position:relative;
  height: 100%;
  overflow: hidden;
  opacity: 100%;
  color: #00000000;
  padding-bottom: 20vh;
  border-radius: 5%;
  position:relative;
}


.card3:hover{
  background-image:none;
  /* position:relative; */
   position: fixed;
  z-index: 100;
  top: 0;
  width:  auto;
   border-radius: 5%;
   position:relative;
  height: 100%;
  overflow: hidden;
  /* opacity: 0; */
  color: #000000;
  border-radius: 5%;
  position:relative;
}

.card4{
  background-image:url('https://i.ibb.co/fn0xZ73/leala.jpg');
  /* position:relative; */
   position: fixed;
  z-index: 100;
  top: 0;
  width:  auto;
   border-radius: 5%;
   position:relative;
  height: 100%;
  overflow: hidden;
  opacity: 100%;
  color: #00000000;
  
}


.card4:hover{
  background-image:none;
  /* position:relative; */
   position: fixed;
  z-index: 100;
  top: 0;
  width:  auto;
   border-radius: 5%;
   position:relative;
  height: 100%;
  overflow: hidden;
  /* opacity: 0; */
  color: #000000;
  border-radius: 5%;
  position:relative;
}


/*  */
.card5{
  background-image:url('https://i.ibb.co/hKgXMHS/maymana.png');
  /* position:relative; */
   position: fixed;
  z-index: 100;
  top: 0;
  width:  auto;
   border-radius: 5%;
   position:relative;
  height: 100%;
  overflow: hidden;
  opacity: 100%;
  color: #00000000;
  padding-bottom: 17vh;
  border-radius: 5%;
  position:relative;
}


.card5:hover{
  background-image:none;
  /* position:relative; */
   position: fixed;
  z-index: 100;
  top: 0;
  width:  auto;
   border-radius: 5%;
   position:relative;
  height: 100%;
  overflow: hidden;
  /* opacity: 0; */
  color: #000000;
  border-radius: 5%;
  position:relative;
}

.card6{
  background-image:url('https://i.ibb.co/4t7Cw0F/sonji.jpg');
  /* position:relative; */
   position: fixed;
  z-index: 100;
  top: 0;
  width:  auto;
   border-radius: 5%;
   position:relative;
  height: 100%;
  overflow: hidden;
  opacity: 100%;
  padding-bottom: 21vh;
  color: #00000000;
}


.card6:hover{
  background-image:none;
  /* position:relative; */
   position: fixed;
  z-index: 100;
  top: 0;
  width:  auto;
   border-radius: 5%;
   position:relative;
  height: 100%;
  overflow: hidden;
  /* opacity: 0; */
  color: #000000;
  border-radius: 5%;
  position:relative;
}

.card7{
  background-image:url('https://i.ibb.co/KscjFt6/ella.jpg');
  /* position:relative; */
   position: fixed;
  z-index: 100;
  top: 0;
  width:  auto;
   border-radius: 5%;
   position:relative;
  height: 100%;
  overflow: hidden;
  opacity: 100%;
  color: #00000000;
}


.card7:hover{
  background-image:none;
  /* position:relative; */
   position: fixed;
  z-index: 100;
  top: 0;
  width:  auto;
   border-radius: 5%;
   position:relative;
  height: 100%;
  overflow: hidden;
  /* opacity: 0; */
  color: #000000;
  border-radius: 5%;
  position:relative;
}

.card8{
  background-image:url('https://i.ibb.co/rsGx8n6/firpii.jpg');
  /* position:relative; */
   position: fixed;
  z-index: 100;
  top: 0;
  width:  auto;
   border-radius: 5%;
   position:relative;
  height: 100%;
  overflow: hidden;
  opacity: 100%;
  color: #00000000;
}


.card8:hover{
  background-image:none;
  /* position:relative; */
   position: fixed;
  z-index: 100;
  top: 0;
  width:  auto;
   border-radius: 5%;
   position:relative;
  height: 100%;
  overflow: hidden;
  /* opacity: 0; */
  color: #000000;
  border-radius: 5%;
  position:relative;
}







.backtotop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 50px;
  width: auto;
  height: auto;
  /* background: #000000; */
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 100px;
  border: none;
  padding: 20px;
  /* box-shadow: 0 5px 10px #ccc; */
  z-index: 200 !important;

}

.backtotop:hover {
  color: #585858;
}



@keyframes holoSparkle {
  0%, 100% {
    opacity: .75; background-position: 50% 50%; filter: brightness(1.2) contrast(1.25);
  }
  5%, 8% {
    opacity: 1; background-position: 40% 40%; filter: brightness(.8) contrast(1.2);
  }
  13%, 16% {
    opacity: .5; background-position: 50% 50%; filter: brightness(1.2) contrast(.8);
  }
  35%, 38% {
    opacity: 1; background-position: 60% 60%; filter: brightness(1) contrast(1);
  }
  55% {
    opacity: .33; background-position: 45% 45%; filter: brightness(1.2) contrast(1.25);
  }
}

@keyframes holoGradient {
  0%, 100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(.5) contrast(1);
  }
  5%, 9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(.75) contrast(1.25);
  }
  13%, 17% {
    background-position: 0% 0%;
    opacity: .88;
  }
  35%, 39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(.75) contrast(1.25);
  }
}

@keyframes holoCard {
  0%, 100% {

    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%, 8% {
    transform: rotateZ(0deg) rotateX(-4.5deg) rotateY(17deg);
  }
  13%, 16% {
    transform: rotateZ(0deg) rotateX(-4.5deg) rotateY(17deg);
  }
  35%, 38% {
    transform: rotateZ(1.5deg) rotateX(6deg) rotateY(10deg);
  }
  55% {
    transform: rotateZ(-1.5deg) rotateX(-6deg) rotateY(-17deg);
  }
}




.wrapper {
  margin-top: 150px;
}

@media (min-width: 768px) {
  .wrapper {
      margin-top: 0;
  }
}

.shadow {
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2);
}

.translated {
  transform: translate(-17.5px, 0);
  margin-top: -120px;
  filter: drop-shadow(0 30px 2px rgba(0, 0, 0, 0.05));
}

.translated-md {
  transform: translate(-20%, 0);
  margin-top: 0;
  /*top:50px;*/
  filter: drop-shadow(0 30px 2px rgba(0, 0, 0, 0.05));
}

@media (min-width: 768px) {
  .translated-md {
      clip-path: inset(-30px -30px -30px 54px);
  }

  .translated-box {
      margin-top: 45px;
      margin-left: -80px;
      width: 140px;
      top: 50%;
      transform: translate(0, -50%)
  }
}

@media (min-width: 1024px) {
  .translated-md {
      clip-path: inset(-30px -30px -30px 82px);
  }

  .translated-box {

      margin-top: 70px;
      margin-left: -105px;
      width: 190px;

      top: 50%;
      transform: translate(0, -50%)
  }
}

@keyframes y {
  0% {
    transform: translateX( calc(50vw - 50vh) );
  }
  50% {
    transform: translateY( calc(50vh + -50vh) );
  }
  75% {
    transform: translateX( calc(50vh - -90vh) );
  }
  100% {
    transform: translateY( calc(90vh +  50vh) );
  }
}


@keyframes twink {
  0% {
    transform: rotate(-20deg);
}

25% {
    transform: rotate(20deg);
}
50% {
    transform: rotate(-20deg);
}
70% {
    transform: rotate(20deg);
}
100% {
    transform: rotate(-20deg);
}
}

@keyframes glitter {
  0% {
    transform: rotate(-2deg);
}

25% {
    transform: rotate(2deg);
}
50% {
    transform: rotate(-2deg);
}
70% {
    transform: rotate(2deg);
}
100% {
    transform: rotate(-2deg);
}
}


.swerl{
  position: fixed;
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  transform: translate(0vh + -50vh);
  animation: y 30s linear infinite alternate;
  /* z-index: 0; */
  width: 10%;
  z-index: 110;
  mix-blend-mode: multiply;
  filter: drop-shadow(0 0 0.75rem #86eab4);
}

.swerl1{
  position: fixed;
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  transform: translate(0vh + -20vh);
  animation: y 10s linear infinite alternate;
  /* z-index: 0; */
  width: 10%;
  z-index: 110;
  /* mix-blend-mode: multiply; */
  filter: drop-shadow(0 0 0.75rem #86eab4);
}

.swerl2{
  position: fixed;
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  transform: translate(10vh + -10vh);
  animation: y 50s linear infinite alternate;
  /* z-index: 0; */
  width: 10%;
  z-index: 0;
  /* mix-blend-mode: multiply; */
  filter: drop-shadow(0 0 0.75rem #86eab4);
}

.swerltwo{
  /* position: fixed; */
  position: absolute;
  /* top: 50%;
  left: 50%; */
  transform: translate(0vh + -50vh);
  animation: y 30s linear infinite alternate;
  /* z-index: 0; */
  width: auto;
  z-index: 10;
  /* mix-blend-mode: multiply; */
  filter: drop-shadow(0 0 0.75rem #86eab4);
}

.figure {
  /* position: relative; */
   position: fixed;
  max-width: 100%;
  /* position: absolute; */
  top: 45vh;
  left: 5vw;
  width: 5%;
  z-index: 100;
  animation: glitter 5s infinite;
  mix-blend-mode: multiply;
  filter: drop-shadow(0 0 0.75rem crimson);
}
.figure2 {
  /* position: relative; */
   position: fixed;
  max-width: 100%;
  /* position: absolute; */
  top: 70vh;
  left: 85vw;
  width: 15%;
  z-index: 100;
  /* animation: glitter 5s infinite; */
  filter: drop-shadow(0 0 0.75rem crimson);
}



/* mobile     height: 30vh; */

.rowsallmobile{
    display: flex;
    /* width: 98vw; */
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.rowsmobile {
  display: flex;
    flex-wrap: nowrap;
    padding: 2vw;
    /* width: 50%; */
    flex-direction: row;
    justify-content: space-between;
}

.cardmobile{
padding: 4vw;
}

.crytext2mobile{
  color: white;
    text-align: left;
    font-size: 3rem;
    line-height: normal;
    text-shadow: 3px 3px 0 #0000006e, -1px -1px 0 #000000a1, 1px -1px 0 #000000a6, -1px 1px 0 #000000cf, 1px 1px 0 #000000a6;
    padding: 0;
    }

    .crytextmobile{
  color: white;
    text-align: left;
    font-size: 3rem;
    line-height: normal;
    text-shadow: 3px 3px 0 #0000006e, -1px -1px 0 #000000a1, 1px -1px 0 #000000a6, -1px 1px 0 #000000cf, 1px 1px 0 #000000a6;
    padding: 0;
    }